:root {
	/* Brand Colors */
	--color-sports: #ff4b00;
	--color-sports-light: #ff6b20;
	--color-bucenoire: #490970;
	--color-rehab: #3e3e3e;
	--color-redroom: #7f004c;

	/* Base / UI Colors */
	--color-bg: #000;
	--color-text: #ddd;
	--color-text-muted: #999;
	--color-border: #fff2;
	--color-grey-mid: #888;
}
