<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sway London</title>
	<link rel="stylesheet" href="/css/holding.css">
</head>
<body>
	<header>
		<nav>
			<div class="container border-bottom">
				<div class="logo">
					<a href="#">
						<img src="/assets/img/swaylondon.svg" alt="Sway London">
					</a>
				</div>
				<ul class="main-nav">
					<li><a href="#">About</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">Media</a></li>
					<li><a href="#">Booking</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
		</nav>

		<div class="video-container">
			<div style="width:100%; height:0; position: relative; padding-bottom:41.64062499999999%">
				<iframe title="Video Player" src="//theblackarts.videomarketingplatform.co/v.ihtml/player.html?token=455c26096e5fd830be330642db3deaaf&source=embed&photo%5fid=131313133" style="width:100%; height:100%; position: absolute; top: 0; left: 0;" frameborder="0" border="0" scrolling="no" allowfullscreen allow="autoplay; fullscreen">
					<p>Your web browser does not support iframes, which means that the video cannot play.</p>
				</iframe>
			</div>
		</div>
	</header>

	<main>
		<section>
			<div class="container py-2 border-bottom">
				events
			</div>
		</section>

		<section>
			<div class="container py-2">
				<h2 class="text-uc">The Greatest Night Out In London</h2>

				<ul class="brand-list">
					<li class="brand-item">
						<a href="#" class="brand-tile">
							<img src="/assets/img/swaysports.svg" alt="Sway Sports">
						</a>
						<p>Sports Bar &amp; Restaurant</p>
					</li>
					<li class="brand-item">
						<a href="#" class="brand-tile">
							<img src="/assets/img/bucenoire.svg" alt="Buce Noire">
						</a>
						<p>Premium Night Club &amp; Events</p>
					</li>
					<li class="brand-item">
						<a href="#" class="brand-tile">
							<img src="/assets/img/rehab.svg" alt="Rehab">
						</a>
						<p>Night Club &amp; Event Space</p>
					</li>
					<li class="brand-item">
						<a href="#" class="brand-tile">
							<img src="/assets/img/theredroom.svg" alt="The Red Room">
						</a>
						<p>Private Space</p>
					</li>
				</ul>

			</div>
		</section>
	</main>

	<footer>
	</footer>

</body>
</html>