<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Sway London | Home</title>
		<link rel="stylesheet" href="/css/base.css?v=0.3">
		<link rel="stylesheet" href="/css/utilities.css?v=0.3">
		<script src="/js/sway.js?v=0.1" defer></script>
	</head>

	<body>
		<header class="mb-4">
			<nav>
				<div class="container border-bottom">
					<a href="/">
						<img class="logo" src="/assets/img/swaylondon-metal.jpg" alt="Sway London">
					</a>
				
					<ul class="main-nav">
						<li><a href="#">About</a></li>
						<li><a href="#">Events</a></li>
						<li><a href="#">Media</a></li>
						<li><a href="#">Booking</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</nav>

			<section class="video-container">
				<div style="width: 100%; height: 0; position: relative; padding-bottom: 42.25%">
					<iframe title="Video Player" src="//theblackarts.videomarketingplatform.co/v.ihtml/player.html?token=455c26096e5fd830be330642db3deaaf&source=embed&photo%5fid=131313133" style="width:100%; height:100%; position: absolute; top: 0; left: 0;" frameborder="0" border="0" scrolling="no" allowfullscreen allow="autoplay; fullscreen">
						<p>Your web browser does not support iframes, so this video cannot play.</p>
					</iframe>
				</div>
			</section>
		</header>

		<main>
			<section>
				<div class="tagline text-center">
					<div class="underg-times">
						<div>5 mins</div>
						<img src="/assets/img/coventgarden.svg" alt="Covent Garden">
					</div>
					<div class="brand-font">
						<h1>The Greatest Night Out In London</h1>
						<p>61 &ndash; 65 Great Queen Street, Covent Garden, London WC2B 5BZ</p>
					</div>
					<div class="underg-times">
						<img src="/assets/img/holborn.svg" alt="Holborn">
						<div>2 mins</div>
					</div>
				</div>
			</section>

			<section>
				<div class="container pb-4 border-bottom">
					
					<div class="event-container">
						<div class="event-block brand-font sports">
							<img src="/assets/img/swaysports.svg" alt="Sway Sports">
							<div class="event-inner">
								<div class="p-3">On at Sway Sports today</div>
								<div class="cards">
									<div class="card" style="--card-color: #fff;">
										<img src="/assets/img/temp/badge-manutd.svg" alt="Manchester United">
									</div>
									<div class="card" style="--card-color: #48f;">
										<img src="/assets/img/temp/badge-mancity.svg" alt="Manchester City">
									</div>
								</div>
								<div class="p-3">Live 8:00pm 7th Sept</div>
							</div>
							<img src="/assets/img/swaysports.svg" alt="Sway Sports">
						</div>

						<div class="event-block brand-font rehab">
							<img src="/assets/img/rehab.svg" alt="Enter Rehab">
							<div class="event-inner">
								<div class="p-3">Enter Rehab</div>
								<div></div>
								<div class="p-3">11:00pm 10th Sept</div>
							</div>
							<img src="/assets/img/rehab.svg" alt="Enter Rehab">
						</div>

						<div class="event-block brand-font bucenoire">
							<img src="/assets/img/bucenoire.svg" alt="Buce Noire">
							<div class="event-inner">
								<div class="p-3">Buce Noire Event</div>
								<div></div>
								<div class="p-3">10:00pm 20th Sept</div>
							</div>
							<img src="/assets/img/bucenoire.svg" alt="Buce Noire">
						</div>
					</div>
				</div>
			</section>

			<section>
				<div class="container">
					<h2 class="text-center text-width text-orange">There is something for every occasion, for every mood and for every kind of night out.</h2>

					<ul class="brand-list brand-font text-center">
						<li>
							<a href="#" class="brand-tile tile-sports">
								<img src="/assets/img/swaysports.svg" alt="Sway Sports">
							</a>
							<p>Sports Bar &amp; Restaurant</p>
						</li>
						<li>
							<a href="#" class="brand-tile tile-bucenoire">
								<img src="/assets/img/bucenoire.svg" alt="Buce Noire">
							</a>
							<p>Premium Night Club &amp; Events</p>
						</li>
						<li>
							<a href="#" class="brand-tile tile-rehab">
								<img src="/assets/img/rehab.svg" alt="Rehab">
							</a>
							<p>Night Club &amp; Event Space</p>
						</li>
						<li>
							<a href="#" class="brand-tile tile-redroom">
								<img src="/assets/img/theredroom.svg" alt="The Red Room">
							</a>
							<p>Private Space</p>
						</li>
					</ul>

					<div class="my-4">
						<p>From the energy of our premium SWAY Sports Bar, where the greatest Live Sports meet the finest food and cocktails in an unbeatable atmosphere...</p>
						<p>For those looking for something more exclusive, our Ultimate VIP Nightclub delivers a luxurious, premium service and simply unforgettable nights. Whether you're joining us for after-work drinks, watching the big game, celebrating a special occasion, booking our VIP area or dancing 'til late SWAY London does it all.</p>
						<h3 class="text-center text-width text-orange">Four venues. One destination with endless ways to SWAY.</h3>
					</div>

					<div class="private-event brand-font my-6">
						<h2>Sway London Private Event Hire</h2>
						<p>With almost 1000 capacity, Central London's most adaptable &amp; welcoming venue.</p>
					</div>

					<div>
						<h3 class="text-center text-width text-orange">Hold your Private Hire event at SWAY London &ndash; One venue, with endless possibilities.</h3>
						<p>SWAY is custom made to bring the most ambitious events, or even the most private, to life.</p>
						<p>Whether you're planning to your event during the day, the evening or late into the night your Corporate Event, Product Launch, Private Party, Awards Ceremony, Birthday Party, Networking Event or Christmas Party can see our space transformed into your vision, however ambitious your dream maybe.</p>
						<p>From Conferences, Late-night Parties, Intimate Gatherings, Large-scale Production or as a Film Location, we have the space, facilities and flexibility to make it happen. With premium food and drink, state-of-the-art AV, multiple spaces and a team that delivers, SWAY can do it all.</p>
						<p class="text-bold">Your event. Your vision. Our space.</p>
						<p>For enquires or more information, contact xxxxxx</p>
					</div>
				</div>
			</section>

			<section class="content sports">
				<div class="container">
					<div class="info-left">
						<img src="/assets/img/swaysports.svg" alt="Sway Sports" class="brand-logo">
						<div class="opentable">
							<p class="brand-font">Make a Booking</p>
							<img src="/assets/img/temp/opentable-placeholder.png" alt="OpenTable">
						</div>
					</div>
					<div class="info-right">
						<div>
							<h2>SWAY Sports. London's Premium Sports Bar</h2>
							<h3>Where the game meets the experience.</h3>
							<p>Our premium sports bar brings together live sport, great food, expertly crafted drinks and an electric atmosphere.</p>
							<p>Designed to feel stylish, social and welcoming to everyone, it's the perfect place for after-work drinks, big match days, date nights or celebrations.</p>
							<p>And with a female-friendly atmosphere, elevated interiors and all the sporting action on numerous screens, this is sports viewing….just done differently.</p>
						</div>
						<a href="#" class="btn cta" target="_blank">Visit Sway Sports</a>
					</div>
				</div>
			</section>

			<section class="content bucenoire">
				<div class="container">
					<div class="info-left">
						<img src="/assets/img/bucenoire.svg" alt="Buce Noire" class="brand-logo">
						<div class="opentable">
							<p class="brand-font">Make a Booking</p>
							<img src="/assets/img/temp/opentable-placeholder.png" alt="OpenTable">
						</div>
					</div>
					<div class="info-right">
						<div>
							<h2>Bucé Noire &ndash; Exclusive High-End Nightclub</h2>
							<p>An exclusive late-night destination where luxury, music and nightlife collide. Expect an elevated clubbing experience with statement interiors, premium drinks, VIP tables and an atmosphere designed for those who want more than just a night out.</p>
							<p>From intimate celebrations to unforgettable nights on the dancefloor, Bucé Noir delivers high-end energy, exclusive vibes with just that touch of mystery.</p>
						</div>
						<a href="#" class="btn cta" target="_blank">Visit Bucé Noire</a>
					</div>
				</div>
			</section>

			<section class="content rehab">
				<div class="container">
					<div class="info-left">
						<img src="/assets/img/rehab.svg" alt="Rehab" class="brand-logo">
						<div class="opentable">
							<p class="brand-font">Buy a Ticket</p>
							<img src="/assets/img/temp/opentable-placeholder.png" alt="OpenTable">
						</div>
					</div>
					<div class="info-right">
						<div>
							<h2>Night Club &amp; Event Space</h2>
							<p>Visit our SWAY House Nightclub, which brings together the best sounds and late-night energy in the Capital, Sway is very much the answer.</p>
						</div>
						<a href="#" class="btn cta" target="_blank">Enter Rehab</a>
					</div>
				</div>
			</section>

			<section class="content redroom">
				<div class="container">
					<div class="info-left">
						<img src="/assets/img/theredroom.svg" alt="The Red Room" class="brand-logo">
						<div>
							<a href="#" class="btn">Give us a call</a>
							<a href="#" class="btn">Drop us a message</a>
						</div>
					</div>
					<div class="info-right">
						<div>
							<h2>Private Members</h2>
							<p>The Red Room offers a more intimate, high-energy experience with its own distinctive character.</p>
						</div>
						<a href="#" class="btn cta" target="_blank">Visit The Red Room</a>
					</div>
				</div>
			</section>
		</main>

		<footer class="brand-font text-center">
			<div class="container border-top">
				<p>61 &ndash; 65 Great Queen Street, Covent Garden, London WC2B 5BZ</p>
				<p>&copy; Copyright Copyright 2026 Sway London.</p>
			</div>
		</footer>
	</body>
</html>
